/* fade.module.css */

/* fade.module.css */
.fade--active {
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

.opacity-0 {
  opacity: 0;
  transform: scale(1.01); /* subtle zoom out */
}

.opacity-1 {
  opacity: 1;
  transform: scale(1); /* normal */
}
