.hadith {
  text-align: center;
  margin: auto;
  padding: 1vh;
}

.hadithHeader {
  font-size: 4.3vh;
  font-weight: bold;
}

.hadithText {
  margin-top: 1.7vh;
  font-size: 4.5vh;
  font-weight: bold;
  color: #006400;
}

.hadithSource {
  margin-top: 3.5vh;
  font-size: 2.3vh;
  font-weight: bold;
}
