html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.screen {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left-column,
.right-column {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.left-column,
.right-column {
  flex-direction: column;
  min-height: 0;
}

.countdown {
  font-family: "DS-Digital", monospace;
  font-size: 12.5vh;
  font-weight: bold;
}

@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.1) translate(-1%, -1%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.fade-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.countdown--urgent {
  color: red;
}

.prayerCol {
  flex: 1;              /* ⭐ equal width */
  flex-direction: column;
  height: 100%;
  background-color: #006400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-panel {
  padding: 1vh 1vw;
  background: white;
  color: #111;
}

.events-header {
  font-size: 3.6vh;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3vh;
  letter-spacing: 0.12em;
}

/* Event row */
.event-card {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding: 1vh 0;
  border-bottom: 1px solid #e0e0e0;
}

/* Avatar */
.event-avatar img {
  width: 19vh;
  height: 19vh;
  object-fit: contain;
}

.event-avatar-placeholder {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  background: #ccc; /* light grey circle */
}


/* Content */
.event-content {
  display: flex;
  flex-direction: column;
  gap: 0.1vh;
}

.event-time {
  font-size: 3.5vh;
  font-weight: 700;
  color: green;
}

.event-title {
  font-size: 3.9vh;
  font-weight: 900;
  color: darkgreen;
}

.event-desc {
  font-size: 2.2vh;
  color: #444;
}

.event-speaker {
  font-size: 3.7vh;
  color: darkgreen; 
}

/* Single event large layout */
.event-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: normal;
}

.event-avatar-single img {
  height: 41vh;
}

.event-content-single .event-title {
  font-size: 5.5vh;
  font-weight: bold;
}

.event-content-single .event-desc {
  font-size: 2vh;
  opacity: 0.8;
}

.event-content-single .event-speaker {
  font-size: 4.5vh;
  color: darkgreen; 
  font-weight: 900;;
}