html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.screen {
  height: 100vh;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: system-ui, sans-serif;
}
