html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.screen {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left-column,
.right-column {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
}

.left-column {
  flex-direction: column;
}

.right-column {
  flex-direction: column;
}
