html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.screen {
  height: 100vh;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: row;
  font-family: system-ui, sans-serif;
}

.left-column,
.right-column {
  flex: 1;              /* 50 / 50 */
  display: flex;
  flex-direction: column;
}

.right-column {
  border-left: 2px solid #000;
  justify-content: center;
  align-items: center;
}
