html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.screen {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left-column,
.right-column {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.left-column,
.right-column {
  flex-direction: column;
  min-height: 0;
}

.countdown {
  font-family: "DS-Digital", monospace;
  font-size: 11vh;
  font-weight: bold;
}

@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.1) translate(-1%, -1%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.fade-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}